apiVersion: apps/v1
kind: Deployment
metadata:
  name: project2-api
  namespace: p2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: project2-api
  template:
    metadata:
      labels:
        app: project2-api
    spec:
      containers:
        - name: api
          image: project2-api:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: APP_VERSION
              value: "0.1.0"
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"
